<div class="power-select ember-power-select-trigger--small">
  {{#power-select
     options=descSortedBestuursorganen
     searchEnabled=false
     selected=selectedBestuursorgaan
     onchange=(action "select")
     as |bestuursorgaan|}}

    Bestuursperiode:
    {{#if isFastboot}}
      {{bestuursorgaan.bindingStart}}
    {{else}}
      {{moment-format bestuursorgaan.bindingStart 'DD-MM-YYYY'}}
    {{/if}}
    &mdash;
    {{#if bestuursorgaan.bindingEinde}}
      {{#if isFastboot}}
        {{bestuursorgaan.bindingEinde}}
      {{else}}
        {{moment-format bestuursorgaan.bindingEinde 'DD-MM-YYYY'}}
      {{/if}}
    {{else}}
      heden
    {{/if}}
  {{/power-select}}
</div>

{{yield}}
