<div class="au-o-flow">
  <AuCard
    @flex="true"
    @badgeIcon="{{if werkingsgebied "check"}}"
    @badgeNumber="{{unless werkingsgebied "1"}}"
    @badgeSkin="{{if werkingsgebied "success" "action"}}"
    @cardTitle="Stap 1: Zoek een gemeente, provincie of district.">

    <div class="au-u-margin-left-large au-u-padding-left">
      <PowerSelect
        @allowClear={{true}}
        @disabled={{disabled}}
        @search={{perform searchTask}}
        @selected={{werkingsgebied}}
        @loadingMessage="Aan het laden..."
        @searchMessage="Typ om te zoeken"
        @noMatchesMessage="Geen resultaten"
        @onchange={{action "listBestuurseenheden"}} as |gebied|>
        {{gebied.longName}}
      </PowerSelect>
      <AuHelpText>Oost-Vlaanderen, Berchem, Hasselt, ...</AuHelpText>
    </div>
  </AuCard>

  <AuCard
    @flex="true"
    @badgeIcon="{{if bestuursorganen "check"}}"
    @badgeNumber="{{unless bestuursorganen "2"}}"
    @badgeSkin="{{if bestuursorganen "success" "action"}}"
    @cardTitle="Stap 2: Kies een bestuurseenheid"
    @cardSubTitle="{{unless werkingsgebied "Kies eerst een gemeente, provincie of district."}}"
    class="focus-bestuursorganen">
    {{#if werkingsgebied}}
      {{#auto-focus '.focus-bestuursorganen' tagName="" }}
        <div class="au-o-grid au-o-grid--fixed">
          {{#each bestuurseenheden as |eenheid|}}
            <div class="au-o-grid__item au-u-1-1 au-u-1-2@medium au-u-1-3@large focus-bestuursorganen">
              {{organisation-card organisationId=eenheid.id isSelected=(eq selectedBestuurseenheidId eenheid.id)
                classification=eenheid.classificatie.label description=eenheid.classificatie.scopeNote
                name=(concat eenheid.classificatie.label " " eenheid.naam) onSelect=(action "listBestuursorganen")}}
            </div>
          {{/each}}
        </div>
      {{/auto-focus}}
    {{/if}}
  </AuCard>

  <AuCard
    @flex="true"
    @badgeNumber="3"
    @badgeSkin="action"
    @cardTitle="Stap 3: Kies een bestuursorgaan"
    @cardSubTitle="{{unless bestuursorganen "Kies eerst een bestuurseenheid."}}">
    {{#if bestuursorganen}}
      {{#auto-focus '.focus-bestuurseenheid' tagName="" }}
        <div class="au-o-grid au-o-grid--fixed">
          {{#each bestuursorganen as |orgaan|}}
            <div class="au-o-grid__item au-u-1-1 au-u-1-2@medium focus-bestuurseenheid">
              {{organisation-card organisationId=orgaan.id isSelected=(eq selectedBestuursorgaanId orgaan.id)
                classification=orgaan.classificatie.label description=orgaan.classificatie.scopeNote
                name=orgaan.naam onSelect=(action "viewBestuursorgaan")}}
            </div>
          {{/each}}
        </div>
      {{/auto-focus}}
    {{/if}}
  </AuCard>
</div>
