<div class="au-o-grid au-u-margin-bottom">
  {{#if csvFile}}
    <div class="au-o-grid__item au-u-1-1 au-u-1-2@medium">
      <AuCard @flex="true"
              @collapsableTitle="Download in CSV formaat"
              @collapsableSubTitle="Voor spreadsheet editors zoals Excel of Numbers."
              @badgeSkin="brand"
              @badgeIcon="download">
        <AuContent>
          <AuButton onclick={{action "download" csvFile}} metadata={{csvMetadata}} type="CSV">Download in CSV formaat</AuButton>
          <AuHelpText>{{csvMetadata}}</AuHelpText>
        </AuContent>
      </AuCard>
    </div>
  {{/if}}
  {{#if ttlFile}}
    <div class="au-o-grid__item au-u-1-1 au-u-1-2@medium">
      <AuCard @flex="true"
              @collapsableTitle="Download in Turtle formaat"
              @collapsableSubTitle="Gestructureerde data voor dataverwerking en analyse."
              @badgeSkin="brand"
              @badgeIcon="download">
        <AuContent>
          <AuButton onclick={{action "download" ttlFile}} metadata={{ttlMetadata}} type="Turtle">Download in Turtle formaat</AuButton>
          <AuHelpText>{{ttlMetadata}}</AuHelpText>
        </AuContent>
      </AuCard>
    </div>
  {{/if}}
</div>
