{{#data-table content=content isLoading=isLoading noDataMessage="Geen mandatarissen gevonden"
     sort=sort page=page size=size class="mandataris-data-table" as |t|}}
  {{#t.content as |c|}}
    {{#c.header}}
      {{th-sortable field='bekleedt.bevatIn.isTijdsspecialisatieVan.bestuurseenheid.werkingsgebied.naam' currentSorting=sort label='Locatie'}}
      {{th-sortable field='bekleedt.bevatIn.isTijdsspecialisatieVan.classificatie.label' currentSorting=sort label='Orgaan'}}
      {{th-sortable field='heeftLidmaatschap.binnenFractie.naam' currentSorting=sort label='Fractie'}}
      {{th-sortable field='isBestuurlijkeAliasVan.gebruikteVoornaam' currentSorting=sort label='Naam'}}
      {{th-sortable field='isBestuurlijkeAliasVan.achternaam' currentSorting=sort label='Familienaam'}}
      {{th-sortable field='isBestuurlijkeAliasVan.geslacht.label' currentSorting=sort label='Geslacht'}}
      {{th-sortable field='bekleedt.bestuursfunctie.label' currentSorting=sort label='Mandaat'}}
      <th>Bevoegdheden</th>
      {{th-sortable field='start' currentSorting=sort label='Start mandaat'}}
      {{th-sortable field='einde' currentSorting=sort label='Eind mandaat'}}
    {{/c.header}}
    {{#c.body as |row|}}
      <td>
        {{row.bekleedt.bevatIn.isTijdsspecialisatieVan.bestuurseenheid.werkingsgebied.naam}}
      </td>
      <td>
        {{#link-to 'bestuursorgaan.subject.index' row.bekleedt.bevatIn.isTijdsspecialisatieVan.id}}
          {{row.bekleedt.bevatIn.isTijdsspecialisatieVan.classificatie.label}}
        {{/link-to}}
      </td>
      <td>
        {{row.heeftLidmaatschap.binnenFractie.naam}}
      </td>
      <td>
        {{#link-to 'persoon.subject.index' row.isBestuurlijkeAliasVan.id}}
          {{row.isBestuurlijkeAliasVan.gebruikteVoornaam}}
        {{/link-to}}
      </td>
      <td>
        {{#link-to 'persoon.subject.index' row.isBestuurlijkeAliasVan.id}}
          {{row.isBestuurlijkeAliasVan.achternaam}}
        {{/link-to}}
      </td>
      <td>{{row.isBestuurlijkeAliasVan.geslacht.label}}</td>
      <td>
        {{row.bekleedt.bestuursfunctie.label}}
      </td>
      <td>
        {{#each row.beleidsdomein as |beleidsdomein|}}
          {{beleidsdomein.label}}<br>
        {{/each}}
      </td>
      <td>{{moment-format row.start 'DD/MM/YYYY'}}</td>
      <td>{{moment-format row.einde 'DD/MM/YYYY'}}</td>
    {{/c.body}}
  {{/t.content}}
{{/data-table}}
