{{#data-table content=content isLoading=isLoading noDataMessage="Geen mandatarissen gevonden"
     sort=sort page=page size=size class="mandataris-data-table" as |t|}}
  {{#t.content as |c|}}
    {{#c.header}}
      {{th-sortable field='bekleedt.bevatIn.isTijdsspecialisatieVan.bestuurseenheid.werkingsgebied.naam' currentSorting=sort label='Locatie' class="u-hidden--mobile"}}
      {{th-sortable field='bekleedt.bevatIn.isTijdsspecialisatieVan.classificatie.label' currentSorting=sort label='Orgaan' class="u-visible--tablet-portrait-up" style="max-width: 5rem;"}}
      {{th-sortable field='heeftLidmaatschap.binnenFractie.naam' currentSorting=sort label='Fractie' class="u-hidden--mobile"}}
      {{th-sortable field='isBestuurlijkeAliasVan.gebruikteVoornaam' currentSorting=sort label='Naam'}}
      {{th-sortable field='isBestuurlijkeAliasVan.achternaam' currentSorting=sort label='Familienaam'}}
      {{th-sortable field='isBestuurlijkeAliasVan.geslacht.label' currentSorting=sort label='Geslacht' class="u-visible--desktop-up"}}
      {{th-sortable field='bekleedt.bestuursfunctie.label' currentSorting=sort label='Mandaat'}}
      <th class="u-visible--tablet-landscape-up">Bevoegdheden</th>
      {{th-sortable field='start' currentSorting=sort label='Start' class="u-visible--tablet-portrait-up"}}
      {{th-sortable field='einde' currentSorting=sort label='Einde' class="u-visible--tablet-portrait-up"}}
    {{/c.header}}
    {{#c.body as |row|}}
      <td class="u-hidden--mobile">
        {{#each row.bekleedt.bevatIn as |bestuursorgaan|}}
          {{bestuursorgaan.isTijdsspecialisatieVan.bestuurseenheid.werkingsgebied.naam}}<br>
        {{/each}}
      </td>
      <td class="u-visible--tablet-portrait-up">
        {{#each row.bekleedt.bevatIn as |bestuursorgaan|}}
          {{#link-to 'bestuursorgaan.subject.index' bestuursorgaan.isTijdsspecialisatieVan.id}}
            {{bestuursorgaan.isTijdsspecialisatieVan.classificatie.label}}
          {{/link-to}}<br>
        {{/each}}
      </td>
      <td class="u-hidden--mobile">
        {{row.heeftLidmaatschap.binnenFractie.naam}}
      </td>
      <td>
        {{#link-to 'persoon.subject.index' row.isBestuurlijkeAliasVan.id}}
          {{row.isBestuurlijkeAliasVan.gebruikteVoornaam}}
        {{/link-to}}
      </td>
      <td>
        {{#link-to 'persoon.subject.index' row.isBestuurlijkeAliasVan.id}}
          {{row.isBestuurlijkeAliasVan.achternaam}}
        {{/link-to}}
      </td>
      <td class="u-visible--desktop-up">
        {{row.isBestuurlijkeAliasVan.geslacht.label}}
      </td>
      <td>
        {{row.bekleedt.bestuursfunctie.label}}
      </td>
      <td class="u-visible--tablet-landscape-up">
        {{#each row.beleidsdomein as |beleidsdomein|}}
          {{beleidsdomein.label}}<br>
        {{/each}}
      </td>
      <td class="u-visible--tablet-portrait-up">{{moment-format row.start 'DD/MM/YYYY'}}</td>
      <td class="u-visible--tablet-portrait-up">{{moment-format row.einde 'DD/MM/YYYY'}}</td>
    {{/c.body}}
  {{/t.content}}
{{/data-table}}
