<AuDataTable @content={{@content}} @fields="Mandaten" @noDataMessage="Geen mandaten gevonden" @sort={{@sort}} @size={{@size}} @page={{@page}} @isLoading={{@isLoading}} as |t|>
  <t.content as |c|>
    <c.header>
      <th class="data-table__header-title u-hidden--mobile">Locatie</th>
      <th class="data-table__header-title u-visible--tablet-portrait-up" style="max-width: 5rem;">Orgaan</th>
      <AuDataTableThSortable @field="heeftLidmaatschap.binnenFractie.naam" @currentSorting={{@sort}} @label="Fractie" @class="u-hidden--mobile data-table__header-title" />
      <AuDataTableThSortable @field="isBestuurlijkeAliasVan.gebruikteVoornaam" @currentSorting={{@sort}} @label="Naam" @class="data-table__header-title" />
      <AuDataTableThSortable @field="isBestuurlijkeAliasVan.achternaam" @currentSorting={{@sort}} @label="Familienaam" @class="data-table__header-title" />
      <AuDataTableThSortable @field="bekleedt.bestuursfunctie.label" @currentSorting={{@sort}} @label="Mandaat" @class="data-table__header-title" />
      <th class="u-visible--desktop-up">Bevoegdheden</th>
      <AuDataTableThSortable @field="status" @currentSorting={{@sort}} @label="Status" @class="data-table__header-title au-u-visible-from@medium" />
      <AuDataTableThSortable @field="start" @currentSorting={{@sort}} @label="Start" @class="data-table__header-title au-u-visible-from@medium" />
      <AuDataTableThSortable @field="einde" @currentSorting={{@sort}} @label="Einde" @class="data-table__header-title au-u-visible-from@medium" />
    </c.header>
    <c.body as |row|>
      <td class="u-hidden--mobile">
        {{#each row.bekleedt.bevatIn as |bestuursorgaan|}}
          {{bestuursorgaan.isTijdsspecialisatieVan.bestuurseenheid.werkingsgebied.naam}}<br>
        {{/each}}
      </td>
      <td class="u-visible--tablet-portrait-up">
        {{#each row.bekleedt.bevatIn as |bestuursorgaan|}}
          <LinkTo @route='bestuursorgaan.subject.index' @model={{bestuursorgaan.id}} class="au-c-link">
            {{bestuursorgaan.isTijdsspecialisatieVan.classificatie.label}}
          </LinkTo><br>
        {{/each}}
      </td>
      <td class="u-hidden--mobile">
        {{row.heeftLidmaatschap.binnenFractie.naam}}
      </td>
      <td>
        <LinkTo @route='persoon.subject.index' @model={{row.isBestuurlijkeAliasVan.id}} class="au-c-link">
          {{row.isBestuurlijkeAliasVan.gebruikteVoornaam}}
        </LinkTo>
      </td>
      <td>
        <LinkTo @route='persoon.subject.index' @model={{row.isBestuurlijkeAliasVan.id}} class="au-c-link">
          {{row.isBestuurlijkeAliasVan.achternaam}}
        </LinkTo>
      </td>
      <td>
        {{row.bekleedt.bestuursfunctie.label}}
      </td>
      <td class="u-visible--desktop-up">
        {{#each row.beleidsdomein as |beleidsdomein|}}
          {{beleidsdomein.label}}<br>
        {{/each}}
      </td>
      <td class="au-u-visible-from@medium">
        {{row.status.label}}
      </td>
      <td class="au-u-visible-from@medium">{{moment-format row.start 'DD/MM/YYYY'}}</td>
      <td class="au-u-visible-from@medium">{{moment-format row.einde 'DD/MM/YYYY'}}</td>
    </c.body>
  </t.content>
</AuDataTable>