<div class="grid">
  <div class="col--9-12">
    <ul class="inline-list">
      <li>
        <nav class="dropdown-navigation u-spacer--none">
          <a class="dropdown-navigation__title">
            Bestuur:
            {{#if bestuurseenheid}}
              {{bestuurseenheid.classificatie.label}}
              {{bestuurseenheid.naam}}
            {{else}}
              Heel Vlaanderen
            {{/if}}
          </a>
          {{wu-button label="Gooik" onClick=(action updateBestuurseenheidId '5ab12111496009290c00aa27')}}
          {{wu-button label="Kortenaken" onClick=(action updateBestuurseenheidId '5ab12111496009290c00a9e1')}}
          {{wu-button label="Alle" onClick=(action updateBestuurseenheidId)}}
        </nav>
      </li>
    </ul>
  </div>
</div>
