<div class="au-o-flow">
  <AuCard @flex="true" id="bestuursorgaan-search-wizard-step-1" class="bestuursorgaan-search-wizard-scroll-offset" as |c|>
    <c.header @badgeSkin={{if this.werkingsgebied "success" "action"}} @badgeIcon={{if this.werkingsgebied "check"}} @badgeNumber={{unless this.werkingsgebied "1"}}>
      <AuHeading @level="2" @skin="4" id="describe-search">
        Stap 1: Zoek een gemeente, provincie of district.
      </AuHeading>
    </c.header>
    <c.content>
      <div style="position: relative; overflow: hidden;" {{!template-lint-disable no-inline-styles}}>
        <PowerSelect
          @ariaLabel="Zoekbalk"
          @ariaDescribedBy="describe-search"
          @allowClear={{true}}
          @searchEnabled={{true}}
          @disabled={{this.disabled}}
          @search={{perform @searchTask}}
          @selected={{this.werkingsgebied}}
          @loadingMessage="Aan het laden..."
          @searchMessage="Typ om te zoeken"
          @noMatchesMessage="Geen resultaten"
          @onChange={{this.listBestuurseenheden}} as |gebied|>
          {{gebied.longName}}
        </PowerSelect>
      </div>
      <AuHelpText>Oost-Vlaanderen, Berchem, Hasselt, ...</AuHelpText>
    </c.content>
  </AuCard>

  <AuCard @flex="true" id="bestuursorgaan-search-wizard-step-2" class="bestuursorgaan-search-wizard-scroll-offset" as |c|>
    <c.header @badgeIcon={{if this.bestuursorganen "check"}}
    @badgeNumber={{unless this.bestuursorganen "2"}}
    @badgeSkin={{if this.bestuursorganen "success" "action"}}>
      <AuHeading @level="2" @skin="4" >
        Stap 2: Kies een bestuurseenheid
      </AuHeading>
      {{#unless this.werkingsgebied}}
      <p>Kies eerst een gemeente, provincie of district.</p>
      {{/unless}}
    </c.header>
    {{#if @isLoadingBestuurseenheden}}
      <c.content>
        <AuLoader class="au-u-margin-bottom-huge">Bestuurseenheden aan het laden</AuLoader>
      </c.content>
    {{else if this.werkingsgebied}}
      <c.content>
        <div class="au-o-grid au-o-grid--fixed">
          {{#each this.bestuurseenheden as |eenheid|}}
            <div class="au-o-grid__item au-u-1-1 au-u-1-2@medium au-u-1-3@large">
              <OrganisationCard
                @organisationId={{eenheid.id }}
                @isSelected={{eq @selectedBestuurseenheidId eenheid.id}}
                @classification={{eenheid.classificatie.label}}
                @name={{concat eenheid.classificatie.label " " eenheid.naam}}
                @onSelect={{this.listBestuursorganen}}
              />
            </div>
          {{/each}}
        </div>
      </c.content>
    {{/if}}
  </AuCard>

  <AuCard @flex="true" id="bestuursorgaan-search-wizard-step-3" class="bestuursorgaan-search-wizard-scroll-offset" as |c|>
    <c.header @badgeNumber="3"
    @badgeSkin="action">
      <AuHeading @level="2" @skin="4">
        Stap 3: Kies een bestuursorgaan
      </AuHeading>
      {{#unless this.bestuursorganen}}
      <p>Kies eerst een bestuurseenheid.</p>
      {{/unless}}
    </c.header>
    {{#if @isLoadingBestuursorganen}}
      <c.content>
        <AuLoader class="au-u-margin-bottom-huge">Bestuursorganen aan het laden</AuLoader>
      </c.content>
    {{else if this.bestuursorganen}}
      <c.content>
        <div class="au-o-grid au-o-grid--fixed">
          {{#each this.bestuursorganen as |orgaan|}}
            <div class="au-o-grid__item au-u-1-1 au-u-1-2@medium">
              <OrganisationCard
                @name={{orgaan.naam}}
              >
                <:button>
                  <AuLink
                    @route="bestuursorgaan.subject"
                    @model={{orgaan.id}}
                    @skin="button"
                    @icon="nav-right"
                    @iconAlignment="right"
                    @size="large"
                    @width="block"
                    class="au-c-button--large au-c-button--wrap" {{!TODO: remove this once the link component supports a "large" button style}}
                  >
                    Kies {{orgaan.classificatie.label}}
                  </AuLink>
                </:button>
              </OrganisationCard>
            </div>
          {{/each}}
        </div>
      </c.content>
    {{/if}}
  </AuCard>
</div>
