{{! We're not using the AuCard component here, since they can't be nested without causing styling issues in Appuniversum}}
<div class="organisation-card {{if @isSelected 'organisation-card--selected'}}">
  <div class="organisation-card__header">
    <AuBadge @skin="brand" @icon="users" class="organisation-card__icon" />
    <div>
      <AuHeading @level="2" @skin="4">
        {{@name}}
      </AuHeading>
    </div>
  </div>
  <div class="organisation-card__content">
  {{#if (has-block "button")}}
    {{yield to="button"}}
  {{else}}
    <AuButton
      @width="block"
      @size="large"
      @skin="secondary"
      @disabled={{@isSelected}}
      {{on "click" (fn this.select @organisationId)}}
    >
      Kies {{@classification}}
    </AuButton>
  {{/if}}
  </div>
</div>