<div class="container-flex--scroll">
  <div class="u-padding--rl--small u-background--gray-lighter">
    <div class="u-padding--top--tiny">
      <div class="grid">
        <div class="col--6-12">
          {{#link-to 'mandatarissen.index' class="link--icon"}}
            <small>{{wu-icon "vi-arrow vi-u-180deg"}} Terug naar overzicht</small>
          {{/link-to}}
        </div>
      </div>
    </div>
    <div class="u-padding--tb">
      <h1 class="h1 h1 u-spacer--bottom--tiny" style="max-width: 80rem;">
        Mandataris: {{persoon.gebruikteVoornaam}} {{persoon.achternaam}}
      </h1>
      <ul class="inline-list inline-list--bordered">
        <li>Roepnaam: {{persoon.gebruikteVoornaam}}</li>
        <li>{{persoon.geslacht.label}}</li>
      </ul>
    </div>
  </div>

  <div class="u-padding--rl--small u-padding--tb--small">
    {{mandataris-table-header bestuurseenheidId=bestuurseenheidId bestuursorgaanId=bestuursorgaanId}}
  </div>

  <div class="u-padding--round--small">
    {{mandataris-table scope="persoon" selectedBestuurseenheidId=bestuurseenheidId content=model isLoading=isLoadingModel sort=sort page=page size=size}}
  </div>
</div>

{{outlet}}
