{{title "" model.isTijdsspecialisatieVan.naam "" prepend=true}}
<div data-tabs-responsive-label="Navigatie">
  <div class="u-padding--rl--small u-background--gray-lighter">
    <div class="u-padding--top--tiny">
      <div class="grid">
        <div class="col--6-12">
          {{#link-to 'index' class="link--icon"}}
            <small>{{wu-icon "vi-arrow vi-u-180deg"}} Terug naar zoeken</small>
          {{/link-to}}
        </div>
      </div>
    </div>
    <div class="u-padding--tb" id="main">
      {{#with-rdfa-resource resource=model as |ctx|}}
        <h1 class="h1 h1 u-spacer--bottom--tiny">
          Orgaan:
          {{#ctx.prop p="naam"}}
            {{#if model.naam}}
              {{model.naam}}
            {{else}}
              {{model.isTijdsspecialisatieVan.naam}}
            {{/if}}
          {{/ctx.prop}}
        </h1>
        <ul class="inline-list inline-list--bordered">
          {{#if model.bindingStart}}
            <li>
              {{#ctx.prop p="bindingStart"}}
                {{moment-format model.bindingStart 'DD-MM-YYYY'}}
              {{/ctx.prop}}
              -
              {{#if model.bindingEinde}}
                {{#ctx.prop p="bindingEinde"}}
                  {{moment-format model.bindingEinde 'DD-MM-YYYY'}}
                {{/ctx.prop}}
              {{else}}
                heden
              {{/if}}
            </li>
          {{/if}}
        </ul>
        {{ctx.each-as-link p="bevat" class="u-hidden"}}
      {{/with-rdfa-resource}}
    </div>
  </div>
  <div class="tabs__wrapper u-background--gray-lighter">
    <ul class="tabs u-spacer--none u-border--none">
      <li class="tab" role="presentation">
        {{#link-to 'bestuursorgaan.subject.index' class="tab__link u-padding--rl--small"}}Mandaten{{/link-to}}
      </li>
      <li class="tab" role="presentation">
        {{#link-to 'bestuursorgaan.subject.administratieve-gegevens' class="tab__link u-padding--rl--small"}}Administratieve gegevens{{/link-to}}
      </li>
    </ul>
  </div>

  <div class="tab__pane u-display--block u-padding--rl--small u-spacer--tb">
    {{outlet}}
  </div>
</div>
