{{page-title "" this.model.isTijdsspecialisatieVan.naam "" prepend=true}}
<div data-tabs-responsive-label="Navigatie">
  <div class="au-o-region-small au-o-region--alt">
    <div class="au-o-box">
      <AuLink @route="index" class="au-u-margin-bottom">
        <AuIcon @icon="nav-left" @alignment="left" />
        Terug naar zoeken
      </AuLink>
      <WithRdfaContext @tagName="div" @model={{this.model}} as |ctx|>
        <div class="au-o-grid">
          <div class="au-o-grid__item au-u-1-1 au-u-1-2@small au-u-2-3@medium">
            <AuHeading @level="1" @skin="2" class="au-u-margin-bottom-small">
              Orgaan:
              <ctx.get @prop="naam" as |attributes naam|>
                <span property={{attributes.property}}>
                  {{#if naam}}
                    {{naam}}
                  {{else}}
                    {{this.model.isTijdsspecialisatieVan.naam}}
                  {{/if}}
                </span>
              </ctx.get>
            </AuHeading>
            <div class="au-u-hidden-visually">
              <ctx.each @prop="bevat"/>
            </div>
          </div>
          <div class="au-o-grid__item au-u-1-1 au-u-1-2@small au-u-1-3@medium">
            <BestuursorgaanInTijdSelect @selectedBestuursorgaan={{this.model}} />
          </div>
        </div>
      </WithRdfaContext>
    </div>
  </div>
  <div class="au-o-body-container au-o-box">
    <div class="au-u-margin-top">
      {{outlet}}
    </div>
  </div>
</div>