<AuDataTable @content={{this.model}} @fields="Mandatarissen" @noDataMessage="Geen mandatarissen gevonden" @sort={{this.sort}} @size={{this.size}} @page={{this.page}} @isLoading={{this.isLoading}} as |t|>
  <t.content as |c|>
    <c.header>
      <AuDataTableThSortable @field="bekleedt.bestuursfunctie.label" @currentSorting={{this.sort}} @label="Mandaat" @class="data-table__header-title" />
      <AuDataTableThSortable @field="heeftLidmaatschap.binnenFractie.naam" @currentSorting={{this.sort}} @label="Fractie" @class="data-table__header-title u-hidden--mobile" />
      <AuDataTableThSortable @field="isBestuurlijkeAliasVan.gebruikteVoornaam" @currentSorting={{this.sort}} @label="Naam" @class="data-table__header-title" />
      <AuDataTableThSortable @field="isBestuurlijkeAliasVan.achternaam" @currentSorting={{this.sort}} @label="Familienaam" @class="data-table__header-title" />
      <th class="u-visible--desktop-up">Bevoegdheden</th>
      <AuDataTableThSortable @field="status" @currentSorting={{this.sort}} @label="Status" @class="data-table__header-title au-u-visible-from@medium" />
      <AuDataTableThSortable @field="start" @currentSorting={{this.sort}} @label="Start" @class="data-table__header-title au-u-visible-from@medium" />
      <AuDataTableThSortable @field="einde" @currentSorting={{this.sort}} @label="Einde" @class="data-table__header-title au-u-visible-from@medium" />
    </c.header>
    <c.body as |row|>
      <td>
        <WithRdfaContext @tagName="div" @model={{row}} as |ctx|>
          <ctx.get @prop="bekleedt" as |attributes value mandaat|>
            <div
              typeof={{attributes.typeof}}
              property={{attributes.property}}
              resource={{attributes.resource}}
            >
              <mandaat.get @prop="bestuursfunctie" as |attributes value rol|>
                <div
                  typeof={{attributes.typeof}}
                  property={{attributes.property}}
                  resource={{attributes.resource}}
                >
                  <rol.get @prop="label"/>
                </div>
              </mandaat.get>
            </div>
          </ctx.get>
        </WithRdfaContext>
      </td>
      <td class="u-hidden--mobile">
        {{row.heeftLidmaatschap.binnenFractie.naam}}
      </td>
      <td>
        <WithRdfaContext @tagName="div" @model={{row}} as |ctx|>
          <ctx.get @prop="isBestuurlijkeAliasVan" as |attributes value alias|>
            <div
              typeof={{attributes.typeof}}
              property={{attributes.property}}
              resource={{attributes.resource}}
            >
              <LinkTo @route='persoon.subject.index' @model={{row.isBestuurlijkeAliasVan.id}} class="au-c-link">
                <alias.get @prop="gebruikteVoornaam"/>
              </LinkTo>
            </div>
          </ctx.get>
        </WithRdfaContext>
      </td>
      <td>
        <WithRdfaContext @tagName="div" @model={{row}} as |ctx|>
          <ctx.get @prop="isBestuurlijkeAliasVan" as |attributes value alias|>
            <div
              typeof={{attributes.typeof}}
              property={{attributes.property}}
              resource={{attributes.resource}}
            >
              <LinkTo @route='persoon.subject.index' @model={{row.isBestuurlijkeAliasVan.id}} class="au-c-link">
                <alias.get @prop="achternaam"/>
              </LinkTo>
            </div>
          </ctx.get>
        </WithRdfaContext>
      </td>
      <td class="u-visible--desktop-up">
        <WithRdfaContext @tagName="div" @model={{row}} as |ctx|>
          <ctx.each @prop="beleidsdomein" as |attributes value beleidsdomein|>
            <div
              typeof={{attributes.typeof}}
              property={{attributes.property}}
              resource={{attributes.resource}}
            >
              <beleidsdomein.get @prop="label"/><br>
            </div>
          </ctx.each>
        </WithRdfaContext>
      </td>
      <td class="au-u-visible-from@medium">
        {{row.status.label}}
      </td>
      <td class=" au-u-visible-from@medium">
        <WithRdfaContext @tagName="div" @model={{row}} as |ctx|>
          <ctx.get @prop="start" as |attributes start|>
            <div property={{attributes.property}}>
              {{moment-format start 'DD/MM/YYYY'}}
            </div>
          </ctx.get>
        </WithRdfaContext>
      </td>
      <td class=" au-u-visible-from@medium">
        <WithRdfaContext @tagName="div" @model={{row}} as |ctx|>
          <ctx.get @prop="einde" as |attributes einde|>
            <div property={{attributes.property}}>
              {{moment-format einde 'DD/MM/YYYY'}}
            </div>
          </ctx.get>
        </WithRdfaContext>
      </td>
    </c.body>
  </t.content>
</AuDataTable>