{{#data-table content=content isLoading=isLoading noDataMessage="Geen mandatarissen gevonden"
   sort=sort page=page size=size class="mandataris-data-table container-flex--contain" as |t|}}
  {{#t.content as |c|}}
    {{#c.header}}
      {{th-sortable field='bekleedt.bestuursfunctie.label' currentSorting=sort label='Mandaat'}}

      {{th-sortable field='heeftLidmaatschap.binnenFractie.naam' currentSorting=sort label='Fractie'}}
      {{th-sortable field='isBestuurlijkeAliasVan.gebruikteVoornaam' currentSorting=sort label='Naam'}}
      {{th-sortable field='isBestuurlijkeAliasVan.achternaam' currentSorting=sort label='Familienaam'}}
      {{th-sortable field='isBestuurlijkeAliasVan.geslacht.label' currentSorting=sort label='Geslacht'}}
      <th>Bevoegdheden</th>
      {{th-sortable field='start' currentSorting=sort label='Start mandaat'}}
      {{th-sortable field='einde' currentSorting=sort label='Eind mandaat'}}
    {{/c.header}}
    {{#c.body as |row|}}
      <td>
        {{#with-rdfa-resource resource=row as |ctx|}}
          {{#ctx.linked-resource p="bekleedt" as |value mandaat|}}
            {{#mandaat.linked-resource p="bestuursfunctie" as |value rol|}}
              {{rol.prop resource=value p="label"}}
            {{/mandaat.linked-resource}}
          {{/ctx.linked-resource}}
        {{/with-rdfa-resource}}
      </td>

      <td>
        {{row.heeftLidmaatschap.binnenFractie.naam}}
      </td>
      <td>
        {{#with-rdfa-resource resource=row as |ctx|}}
          {{#ctx.linked-resource p="isBestuurlijkeAliasVan" as |value alias|}}
            {{#link-to 'persoon.subject.index' row.isBestuurlijkeAliasVan.id}}
              {{alias.prop p="gebruikteVoornaam"}}
            {{/link-to}}
          {{/ctx.linked-resource}}
        {{/with-rdfa-resource}}
      </td>
      <td>
        {{#with-rdfa-resource resource=row as |ctx|}}
          {{#ctx.linked-resource p="isBestuurlijkeAliasVan" as |value alias|}}
            {{#link-to 'persoon.subject.index' row.isBestuurlijkeAliasVan.id}}
              {{alias.prop resource=value p="achternaam"}}
            {{/link-to}}
          {{/ctx.linked-resource}}
        {{/with-rdfa-resource}}
      </td>
      <td>
        {{#with-rdfa-resource resource=row as |ctx|}}
          {{#ctx.linked-resource p="isBestuurlijkeAliasVan" as |value alias|}}
            {{#alias.linked-resource p="geslacht" as |value g|}}
              {{g.prop p="label"}}
            {{/alias.linked-resource}}
          {{/ctx.linked-resource}}
        {{/with-rdfa-resource}}
      </td>
      <td>
        {{#with-rdfa-resource resource=row as |ctx|}}
          {{#ctx.each-resource p="beleidsdomein" as |value beleidsdomein|}}
            {{beleidsdomein.prop p="label"}}<br>
          {{/ctx.each-resource}}
        {{/with-rdfa-resource}}
      </td>
      <td>
        {{#with-rdfa-resource resource=row as |ctx|}}
          {{#ctx.prop p="start"}}{{moment-format row.start 'DD/MM/YYYY'}}{{/ctx.prop}}
        {{/with-rdfa-resource}}
      </td>
      <td>
        {{#with-rdfa-resource resource=row as |ctx|}}
          {{#ctx.prop p="einde"}}{{moment-format row.einde 'DD/MM/YYYY'}}{{/ctx.prop}}
        {{/with-rdfa-resource}}
      </td>
    {{/c.body}}
  {{/t.content}}
{{/data-table}}
