{{head-layout}}
{{title "Mandatendatabank Vlaanderen"}}
<div class="container">
	<div class="container-flex--contain">
		<div class="container-flex--scroll">
			{{wu-widget src=header class="vo-header-widget"}}
			{{outlet}}
			{{wu-widget src=footer}}
		</div>
	</div>
</div>
