<AuContentHeader @titlePartOne="Vlaanderen" @titlePartTwo="mandatendatabank" @pictureSize="large">
  <img sizes="50vw" src="/assets/images/loket-header-1600-85a5251e74ef6ac8491b2f228d2c90da.jpg" srcset="/assets/images/banner-bruges-320.jpg 320w, /assets/images/banner-bruges-1024.jpg 1024w, /assets/images/banner-bruges-1600.jpg 1600w" alt="Foto van een stad met een kanaal en huizen.">
</AuContentHeader>

<div class="au-o-layout">
  <div class="au-o-region-large">
    <AuHeading @level="1" @skin="2" class="au-u-margin-bottom-small">
      Contact
    </AuHeading>
    <form class="au-u-margin-bottom-large">
      <div class="au-u-margin-bottom">
        <AuLabel for="select">Waar gaat uw bericht over?</AuLabel>
        <WuRadioButton @label="Een functionaliteit, bug of probleem" @value="LoketLokaalBestuur@vlaanderen.be" @onChange={{fn (mut this.mailto)}} @isBlock={{true}}/>
        <WuRadioButton @label="Een inhoudelijke vraag over mandaten en mandatarissen" @value="binnenland@vlaanderen.be" @onChange={{fn (mut this.mailto)}} @isBlock={{true}}/>
      </div>

      {{#if this.mailto}}
        <a href={{concat "mailto:" this.mailto}} class="au-c-button">Bericht versturen</a>
      {{else}}
        <AuButton @disabled="true">Bericht versturen</AuButton>
      {{/if}}
    </form>
  </div>
</div>

{{outlet}}
