<div class="mandaten-overview">
  <header class="content-header content-header--large content-header--alt">
    <div class="content-header__wrapper">
      <picture class="content-header__bg">
        <img sizes="100vw" src="/assets/images/banner-bruges.jpg" srcset="/assets/images/banner-bruges-320.jpg 320w, /assets/images/banner-bruges-1024.jpg 1024w, /assets/images/banner-bruges-1600.jpg 1600w" alt="" title="">
      </picture>
      <div class="layout layout--wide">
        <div class="content-header__content">
          <div class="content-header__logo-wrapper">
            <h1 class="content-header__entity-logo content-header__entity-logo">
              <span class="content-header__entity-logo__title">Mandatendatabank</span>
            </h1>
          </div>
        </div>
      </div>
    </div>
  </header>

  <div class="region">

    <div class="layout layout--wide u-spacer--bottom--large">
      <h2 class="h3 u-spacer">Bekijk de mandaten in een bestuur</h2>
      <ul class="steps steps--has-line">
        <li class="step step--no-box">
          <div class="step__icon">1</div>
          <div class="step__wrapper">
            <div class="step__header">
              <h3 class="step__title">Stap 1: Zoek een gemeente, provincie of district.</h3>
            </div>
            <div class="step__content-wrapper">
              <div class="step__content">
                {{#power-select
                   search=(perform searchWerkingsgebied)
                   selected=werkingsgebied
                   onchange=(action "listBestuurseenheden")
                   as |gebied|}}
                  {{gebied.longName}}
                {{/power-select}}
              </div>
            </div>
          </div>
        </li>

        <li class="step {{unless werkingsgebiedId "step--disabled"}} step-toggle step--no-box">
          <div class="step__icon">2</div>
          <div class="step__wrapper">
            <div class="step__header">
              <div class="step__header__titles">
                <h3 class="step__title">Stap 2: Kies een bestuurseenheid</h3>
              </div>
            </div>
            <div class="step__content-wrapper">
              <div class="step__content">
                <div class="grid grid--is-stacked grid--equal-height">
                  {{#each bestuurseenheden as |eenheid|}}
                    <div class="col--6-12 col--6-12--m col--6-12--s col--1-1--xs">
                      {{organisation-card organisationId=eenheid.id
                        classification=eenheid.classificatie.label
                        name=eenheid.naam onSelect=(action "listBestuursorganen")}}
                    </div>
                  {{/each}}
                </div>
              </div>
            </div>
          </div>
        </li>

        <li class="step {{unless bestuurseenheidId "step--disabled"}} step-toggle step--no-box">
          <div class="step__icon">3</div>
          <div class="step__wrapper">
            <div class="step__header">
              <div class="step__header__titles">
                <h3 class="step__title">Stap 3: Kies een bestuursorgaan</h3>
              </div>
            </div>
            <div class="step__content-wrapper">
              <div class="step__content">
                <div class="grid grid--is-stacked grid--equal-height">
                  {{#each bestuursorganen as |orgaan|}}
                    <div class="col--6-12 col--6-12--m col--6-12--s col--1-1--xs">
                      {{organisation-card organisationId=orgaan.id
                        classification=orgaan.classificatie.label
                        name=orgaan.naam onSelect=(action "viewBestuursorgaan")}}
                    </div>
                  {{/each}}
                </div>
              </div>
            </div>
          </div>
        </li>
      </ul>
    </div>

    <div class="layout layout--wide u-spacer--tb--large">
      <div class="u-hr u-hr--label u-hr--label--centered">
        <label>of</label>
      </div>
    </div>
    <div class="layout layout--wide">
      <div class="grid u-spacer--tb--large">
        <div class="col--8-12 col--12-12--s">
          <h2 class="h3">Download mandatendatabank</h2>
        </div>
        <div class="col--4-12 col--12-12--s u-align-right--medium-up">
          <!-- TODO bestuursperiode select here -->
        </div>
      </div>
      <div class="grid">
        <div class="col--4-12 col--12-12--s">
          {{wu-document-miniature class="u-spacer--bottom" type="CSV"
              label="CSV: voor spreadsheet editors zoals Excel of Numbers."
              metadata="CSV - 3.6MB" onClick=(action "download" '/files/mandaten.csv')}}
        </div>
        <div class="col--4-12 col--12-12--s">
          {{wu-document-miniature class="u-spacer--bottom" type="JSON"
              label="JSON: voor spreadsheet editors zoals Excel of Numbers."
              metadata="JSON - 31MB" onClick=(action "download" '/files/mandaten.json')}}
        </div>
        <div class="col--4-12 col--12-12--s">
          {{wu-document-miniature class="u-spacer--bottom" type="Turtle"
              label="Turtle: voor spreadsheet editors zoals Excel of Numbers."
              metadata="Turtle - 25MB" onClick=(action "download" '/files/mandaten.ttl')}}
        </div>
      </div>
      <p>Mail naar
        <a href="mailto:mandaten@vlaanderen.be">mandaten@vlaanderen.be</a> voor meer informatie, of surf naar
        <a href="http://www.binnenland.vlaanderen.be" target="_blank">www.binnenland.vlaanderen.be</a>.</p>
    </div>
  </div>

  <footer class="u-border--top u-padding--tb--large">
    <div class="layout layout--wide">
      <p class="u-spacer">footer not received yet</p>
    </div>
  </footer>
</div>
