<AuContentHeader @titlePartOne="Vlaanderen" @titlePartTwo="mandatendatabank" @pictureSize="large">
  <img sizes="50vw" src="/assets/images/loket-header-1600-85a5251e74ef6ac8491b2f228d2c90da.jpg" srcset="/assets/images/banner-bruges-320.jpg 320w, /assets/images/banner-bruges-1024.jpg 1024w, /assets/images/banner-bruges-1600.jpg 1600w" alt="">
</AuContentHeader>

<div class="au-o-layout">
  <div class="au-o-region-large">
    <AuHeading @level="1" @skin="2" class="au-u-margin-bottom">Bekijk de mandaten in een bestuur</AuHeading>
    <BestuursorgaanSearchWizard
      @model={{this.model}}
      @searchTask={{this.searchWerkingsgebied}}
      @selectedBestuurseenheidId={{this.bestuurseenheidId}}
      @selectedBestuursorgaanId={{this.bestuursorgaanId}}
      @onListBestuurseenheden={{this.listBestuurseenheden}}
      @onListBestuursorganen={{this.listBestuursorganen}}
      @onViewBestuursorgaan={{this.viewBestuursorgaan }}
    />
  </div>

  <div class="au-o-region-large">
    <AuHeading @level="1" @skin="2" class="au-u-margin-bottom-tiny">Download mandatendatabank</AuHeading>
    <p class="au-u-margin-bottom-large">Overzicht van alle besturen in de huidige bestuursperiode.</p>
    <DownloadMiniatures/>
    <p>Mail naar
      <a class="au-c-link" href="mailto:LoketLokaalBestuur@vlaanderen.be">LoketLokaalBestuur@vlaanderen.be</a> voor meer informatie.</p>
  </div>
</div>
